* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    margin: 0;
    background-color: $background;
    text-align: center;
}
main {
    @media screen and (min-width: 1025px) {
        max-width: 1440px;
        margin: auto;
    }
}

h1 {
    font-family: 'Amatic SC';
    margin: 0;
    font-size: 28px;;
}

h2 {
    font-size: 22px;
    padding-bottom: 20px;

    @media screen and (min-width: 1025px) {
        padding-bottom: 40px;
        padding-top: 20px;
    }
}

h3 {
    font-family: 'Amatic SC';
    font-size: 24px;
}