* {
    font-family: 'Roboto', sans-serif;
    color: white;
    scroll-padding-top: 100px; // sert pour que le header ne se supperpose pas avec les titres
}

body {
    height: 100vh;
    margin: 0;
    background-color: $background;
    text-align: center;
}

main {
    @media screen and (min-width: 1024px) {
        max-width: 1440px;
        margin: auto;
    }
}

h1 {
    font-family: 'Amatic SC';
    margin: 0;
    font-size: 28px;;
}

h2 {
    font-size: 22px;
    padding-bottom: 20px;

    @media screen and (min-width: 1024px) {
        padding-bottom: 40px;
        padding-top: 20px;
    }
}

h3 {
    margin-bottom: 0;
}

h4 {
    font-family: 'Amatic SC';
    font-size: 24px;
    padding-left: 20px;
}