* {
  font-family: "Roboto", sans-serif;
  color: white;
  scroll-padding-top: 100px;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #1c1f1e;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 1440px;
    margin: auto;
  }
}

h1 {
  font-family: "Amatic SC";
  margin: 0;
  font-size: 28px;
}

h2 {
  font-size: 22px;
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  h2 {
    padding-bottom: 40px;
    padding-top: 20px;
  }
}

h3 {
  margin-bottom: 0;
}

h4 {
  font-family: "Amatic SC";
  font-size: 24px;
  padding-left: 20px;
}

.banner {
  width: 100%;
}
.banner img {
  width: 100%;
  height: 200px;
  margin-top: 76px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .banner img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 1024px) {
  .banner img {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.carousel {
  position: relative;
}
.carousel .carousel-status {
  display: none;
}
@media screen and (min-width: 768px) {
  .carousel .slider-wrapper .axis-horizontal {
    height: 0;
  }
}
.carousel .control-next.control-arrow {
  cursor: pointer;
  position: absolute;
  width: 30px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1000;
}
.carousel .control-prev.control-arrow {
  cursor: pointer;
  position: absolute;
  width: 30px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  z-index: 1000;
}
.carousel .imgContainer {
  height: 200px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .carousel .imgContainer {
    height: 400px;
  }
}
.carousel .imgContainer img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
@media screen and (min-width: 769px) {
  .carousel .imgContainer img {
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .skills {
    margin-left: 200px;
  }
}
.skills .skill {
  display: flex;
  gap: 20px;
}
.skills .skill img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.customOverlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customModal {
  background-color: #1c1f1e;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .customModal {
    width: 600px;
    height: 700px;
  }
}
@media screen and (min-width: 1024px) {
  .customModal {
    width: 600px;
  }
}
.customModal button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.customModal .linkUrl {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
}
.customModal .linkGithub {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 50px;
}
.customModal .modalIcon {
  font-size: 20px;
}

.modalSuccessOverlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalSuccessForm {
  background-color: #1c1f1e;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  height: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .modalSuccessForm {
    width: 600px;
    height: 200px;
  }
}
.modalSuccessForm h2 {
  padding: 0;
}
.modalSuccessForm button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}
.modalSuccessForm .iconCheck {
  padding-top: 10px;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  form {
    width: 100%;
    padding-bottom: 20px;
  }
}
form .inputsForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 1024px) {
  form .inputsForm {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-bottom: 20px;
  }
}
form .inputsForm .formText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 1024px) {
  form .inputsForm .formText {
    width: 25%;
    gap: 15px;
  }
}
form .inputsForm .formText label {
  text-align: left;
  padding-left: 10px;
}
form .inputsForm .formText input {
  color: black;
  padding: 10px;
  border: none;
}
form .inputsForm .formTextarea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 1024px) {
  form .inputsForm .formTextarea {
    width: 25%;
    gap: 15px;
  }
}
form .inputsForm .formTextarea label {
  text-align: left;
  padding-left: 10px;
}
form .inputsForm .formTextarea textarea {
  padding: 10px;
  height: 100px;
  overflow-y: auto;
  border: none;
  color: black;
}
@media screen and (min-width: 1024px) {
  form .inputsForm .formTextarea textarea {
    height: 100%;
  }
}
form button {
  background-color: #00ffbf;
  color: black;
  width: 60%;
  height: 40px;
  border: none;
  border-radius: 13px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (min-width: 769px) {
  form button {
    width: 30%;
    height: 50px;
  }
}
@media screen and (min-width: 1024px) {
  form button {
    width: 15%;
    height: 50px;
  }
}
form button:hover {
  filter: brightness(80%);
}

.contactText {
  margin: auto;
}
.contactText h4 {
  padding: 0;
}
.contactText .coordonnees {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contactText .coordonnees .adress {
  padding-bottom: 20px;
}
.contactText .coordonnees .adress p {
  margin: 0;
}
.contactText .coordonnees .mobileEmail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contactText .coordonnees .mobileEmail .mobile p {
  margin: 0;
}
.contactText .coordonnees .mobileEmail .email p {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c1f1e;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid white;
  position: relative;
  transition: height 0.3s ease;
}
header nav.expanded {
  height: 170px;
}
@media screen and (min-width: 1024px) {
  header nav.expanded {
    height: 35px;
  }
}
header nav.hidden {
  display: none;
}
header nav .Link {
  text-decoration: none;
}
header nav .navIcon {
  color: white;
  font-size: 30px;
  cursor: pointer;
}
header nav .navLinks {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1024px) {
  header nav .navLinks {
    flex-direction: row;
    gap: 30px;
    top: 10px;
    left: 150px;
  }
}
header nav .navLinks a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  text-align: left;
  transition: color 0.3s;
}
header nav .navLinks a:hover {
  color: #ccc;
}
header nav .iconLog {
  filter: brightness(0.5);
}

.presentation {
  border: 1px solid white;
  border-radius: 8px;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  .presentation {
    margin: auto;
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.presentation .presentationText {
  padding: 20px;
}
@media screen and (min-width: 1024px) {
  .presentation .presentationText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
}
.presentation .presentationImg {
  width: 100%;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .presentation .presentationImg {
    padding-left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .presentation .presentationImg {
    max-width: 500px;
    padding-top: 20px;
  }
}
.presentation .presentationImg img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
@media screen and (min-width: 1024px) {
  .presentation .presentationImg img {
    height: 350px;
    width: 350px;
  }
}

.about {
  background-color: #1c1f1e;
  text-align: center;
}
.about .aboutContainer .aboutText {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  padding-top: 20px;
}
.about .aboutContainer .aboutText p {
  padding-bottom: 20px;
}
.about .skillContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .about .skillContainer {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
}

.cards {
  display: flex;
  flex-direction: column;
}
.cards .containerImgCard {
  height: 200px;
}
.cards .containerImgCard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.cards p {
  padding-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .cards p {
    font-size: 18px;
  }
}
.cards p span {
  font-weight: 700;
  padding-left: 0px;
  text-decoration: underline;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .project {
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .project {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .project h2 {
    padding-bottom: 30px;
  }
}
.project .projectCard {
  cursor: pointer;
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .project .projectCard {
    width: 100%;
    height: 280px;
  }
}
@media screen and (min-width: 1024px) {
  .project .projectCard {
    width: 100%;
    height: 350px;
  }
}
.project .projectCard .imgCoverContainer {
  height: 230px;
}
@media screen and (min-width: 1024px) {
  .project .projectCard .imgCoverContainer {
    height: 280px;
  }
}
.project .projectCard .imgCoverContainer .imgCover {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}
.project .projectCard .imgLogoContainer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .projectCard .imgLogoContainer .imgLogo {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .project .projectCard .imgLogoContainer .imgLogo {
    width: 40%;
  }
}

.thanks {
  padding-bottom: 20px;
}
.thanks p {
  font-weight: 700;
  font-size: 18px;
}

footer {
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer h3 {
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
footer .footerIcons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 20px;
}
footer .footerIcons button, footer .footerIcons a {
  cursor: pointeur;
  border: none;
  background-color: #1c1f1e;
}
footer .footerIcons button .footerIcon, footer .footerIcons a .footerIcon {
  font-size: 26px;
}

.sectionMissionsProjects {
  padding-top: 50px;
}
@media screen and (min-width: 1024px) {
  .sectionMissionsProjects {
    display: flex;
    flex-direction: column-reverse;
  }
}
.sectionMissionsProjects #missions {
  padding-top: 50px;
}
.sectionMissionsProjects #missions h2 {
  padding-bottom: 0;
}
.sectionMissionsProjects #missions .introMission {
  width: 60%;
  margin: auto;
  padding-bottom: 40px;
}
.sectionMissionsProjects #missions .containerCards {
  width: 80%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .sectionMissionsProjects #missions .containerCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .sectionMissionsProjects #missions .containerCards {
    width: 100%;
  }
}
.sectionMissionsProjects #missions .next {
  padding-top: 0;
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  .sectionMissionsProjects #missions .next {
    padding-bottom: 30px;
  }
}

#contact {
  padding-top: 50px;
}
#contact h2 {
  padding-bottom: 0;
}
@media screen and (min-width: 1024px) {
  #contact p {
    padding-bottom: 20px;
  }
}
#contact .switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}
#contact .switch .buttonSwitchFormContact {
  width: 60px;
}
#contact .switch .buttonSwitchFormContact .button-wrap {
  width: 100%;
  margin: 40px auto 0;
  cursor: pointer;
}
#contact .switch .buttonSwitchFormContact .button-wrap .button-bg {
  width: 100%;
  background-color: #00ffbf;
  border-radius: 40px;
  padding: 3px;
  color: #fff;
  transition: all 0.2s ease;
}
#contact .switch .buttonSwitchFormContact .button-wrap .button-switch {
  position: relative;
  left: 0px;
  width: 1px;
  border: solid 13px;
  color: #1c1f1e;
  background-color: #1c1f1e;
  border-radius: 36px;
  transition: all 0.2s ease;
}
#contact .switch .buttonSwitchFormContact .button-wrap .button-active {
  left: 33px;
}

.errorPage {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.errorPage .textError {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 30px;
}
.errorPage .textError p {
  margin: 0;
}
.errorPage p {
  margin: 0;
}
.errorPage .comeBack {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 50px;
}
.errorPage .comeBack a {
  cursor: pointer;
}
.errorPage .comeBack .iconSmile {
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */