

.errorPage {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    .textError {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 50px;

        padding-top: 100px;
        padding-bottom: 30px;
            
        p {
            margin: 0;
        }
    }
            
    p {
        margin: 0;
    }

    .comeBack {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-bottom: 50px;

        a {
            cursor: pointer;
        }

        .iconSmile {
            font-size: 20px;
        }
    }
}

