.next {
    padding: 10px;
    @media screen and (min-width: 1025px) {
        padding-top: 50px;
    }
}
.sectionMissionsProjects {

    @media screen and (min-width: 1025px) {
        display: flex;
        flex-direction: column-reverse;
    }

    #missions {

        h2 {
            padding-bottom: 0;
        }
        .introMission {
            width: 60%;
            margin: auto;
            padding-bottom: 40px;
        }
        .containerCards {
            width: 80%;
            margin: auto;

            @media screen and (min-width: 499px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 30px;
            }

            @media screen and (min-width: 1025px) {
                width: 100%;
            }
        }
        .next {
            padding-top: 0;
            margin-top: 0;
    
            @media screen and (min-width: 1025px) {
                padding-bottom: 30px;
            }
        }
    }
}

#contact {

    h2 {
        padding-bottom: 0;
    }

    p {
        @media screen and (min-width: 1025px) {
            padding-bottom: 20px;
        }
    }
}