
.sectionMissionsProjects {
    padding-top: 50px;

    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: column-reverse;
    }

    #missions {

        padding-top: 50px;

        h2 {
            padding-bottom: 0;
        }
        .introMission {
            width: 60%;
            margin: auto;
            padding-bottom: 40px;
        }
        .containerCards {
            width: 80%;
            margin: auto;

            @media screen and (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 30px;
            }

            @media screen and (min-width: 1024px) {
                width: 100%;
            }
        }
        .next {
            padding-top: 0;
            margin-top: 0;
    
            @media screen and (min-width: 1024px) {
                padding-bottom: 30px;
            }
        }
    }
}

#contact {

    padding-top: 50px;

    h2 {
        padding-bottom: 0;
        
        
    }

    p {
        @media screen and (min-width: 1024px) {
            padding-bottom: 20px;
        }
    }

    .switch {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;

        .buttonSwitchFormContact {
            width: 60px;
        
            .button-wrap {
                width: 100%;
                margin: 40px auto 0;
                cursor: pointer;

                .button-bg {
                    width: 100%;
                    background-color: $backgroundButton;
                    border-radius: 40px;
                    padding: 3px;
                    color:#fff;
                    transition:all 0.2s ease;
                }
              
                .button-switch {
                    position: relative;
                    left: 0px;
                    width: 1px;
                    border: solid 13px;
                    color: $background;
                    background-color: $background;
                    border-radius: 36px;
                    transition: all 0.2s ease;
                }
                .button-active {
                    left: 33px;
                }
            }
        }
    }
}