.carousel {
    position: relative;

    .carousel-status {
        display: none;
    }
   
    .slider-wrapper .axis-horizontal {
        @media screen and (min-width: 768px) {
           height: 0;
        }
    }
    .control-next {
        &.control-arrow {
            cursor: pointer;
            position: absolute;
            width: 30px;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            z-index: 1000;
        }
    }

    .control-prev {
        &.control-arrow {
            cursor: pointer;
            position: absolute;
            width: 30px;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            color: black;
            z-index: 1000;
        }
    }
    .imgContainer {
        height: 100px;

        @media screen and (min-width: 768px) {
            height: 400px;
            
        }
        @media screen and (min-width: 1024px) {
            
        }

        
        img {
            object-fit: contain;

            @media screen and (min-width: 769px) {
                height: 100%;
            }
        }
    }
}