
.contactText {
    margin: auto;

    h4 {
        padding: 0;
        padding-bottom: 30px;
    }

    .coordonnees {

        .mobileEmail {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .mobile {

                p {
                    margin: 0;
                }
            }

            .email {

                p {
                    margin: 0;
                }
            }
        }
    }
}