
.contactText {
    padding-top: 30px;
    padding-bottom: 30px;

    h4 {
        padding: 0;
    }

    .adress {
        padding-bottom: 20px;

        p {
            margin: 0;
        }
    }

    .mobile {

        p {
            margin: 0;
        }
    }

    .email {

        p {
            margin: 0;
        }
    }
}