
.contactText {
    margin: auto;

    h4 {
        padding: 0;
    }

    .coordonnees {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (min-width: 768px) {
            
            
        }
        @media screen and (min-width: 1024px) {
            
        }
        .adress {
                padding-bottom: 20px;

                p {
                    margin: 0;
                }
            }

        .mobileEmail {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .mobile {

                p {
                    margin: 0;
                }
            }

            .email {

                p {
                    margin: 0;
                }
            }
        }
    }
}