
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 1025px) {
        width: 100%;
        padding-bottom: 20px;
    }

    .inputsForm {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (min-width: 1025px) {
            flex-direction: row;
            justify-content: center;
            gap: 50px;
            padding-bottom: 20px;
        }
    
        .formText {
            display: flex;
            flex-direction: column;
            gap: 10px;

            @media screen and (min-width: 1025px) {
                width: 25%;
                gap: 15px;
            }
            
            label {
                text-align: left;
                padding-left: 10px;
                
            }
            input {
                color: black;
                padding: 10px;
                border: none;
                
            }
        }
        .formTextarea {
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            @media screen and (min-width: 1025px) {
                width: 25%;
                gap: 15px;
            }

            label {
                text-align: left;
                padding-left: 10px;
            }
            textarea {
                padding: 10px;
                height: 100px;
                overflow-y: auto;
                border: none;
                color: black;

                @media screen and (min-width: 1025px) {
                    height: 100%;
                }
            }
        }
    }

    button {
        background-color: $backgroundButton;
        width: 60%;
        height: 40px;
        border: none;
        border-radius: 13px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;

        @media screen and (min-width: 499px) {
            width: 30%;
            height: 50px;
        }

        @media screen and (min-width: 1025px) {
            width: 15%;
            height: 50px;
        }

        &:hover {
            filter: brightness(80%);
        }
    }
}