
.cards {
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    
    p {
        padding-bottom: 30px;
        text-align: justify;

        span {
            font-weight: 700;
            padding-left: 0px;
            text-decoration: underline;
        }
    }
}