
.cards {
    display: flex;
    flex-direction: column;

    .containerImgCard {
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;

            @media screen and (min-width: 769px) {
                //height: 200px;
            }

            @media screen and (min-width: 1024px) {
               // height: 300px;
            }
        }
    }
    p {
        padding-bottom: 30px;
        text-align: center;
        
        @media screen and (min-width: 1024px) {
            font-size: 18px;
        }
        span {
            font-weight: 700;
            padding-left: 0px;
            text-decoration: underline;
        }
    }
}