nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid white;

    .navIcon {
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
}
