header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        //z-index: 1000;
        background-color: $background;

    nav {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid white;
        position: relative;
        transition: height 0.3s ease;   

        &.expanded {
            height: 170px; 

            @media screen and (min-width: 1024px) {
                height: 35px;
            }
        }

        &.hidden {
            display: none;
        }
        
        .Link {
            text-decoration: none;
        }

        .navIcon {
            color: white;
            font-size: 30px;
            cursor: pointer;
        }

        .navLinks {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 20px;
            padding-top: 10px;
            box-sizing: border-box;
            text-align: center;
            transition: all 0.3s ease;

            @media screen and (min-width: 1024px) {
                flex-direction: row;
                gap: 30px;
                top: 10px;
                left: 80%;
            }
        }

        .navLinks a {
            color: white;
            text-decoration: none;
            padding: 10px 0;
            text-align: left;
            transition: color 0.3s;
            
            &:hover {
                color: #ccc;
            }
        }

        .iconLog {
            filter: brightness(0.5);
        }
    }
}